*{
    background-color: black;
}

::-webkit-scrollbar {
    width: 0px;
}

.bios{
    position: absolute;
    left: 64px;
    bottom:  64px;
    font-size: 18px;
    line-height: 28px;
    color: white;
    font-family: sans-serif;
    width: 390px;
    text-wrap: blance;
}

.logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    user-select: none;
}