:root{
    --lg-margin: 332px;
    --md-margin: 164px;
    --sm-margin: 64px;
    --xsm-margin: 24px;
    --titleH1: 64px;
    --titleH2: 24px;
    --titleH3: 14px;
    --bodyH1: 18px;
}

a{
    color: white;
    text-decoration: none;
}

nav a:hover, a:hover{
    color: rgb(196, 196, 196);
}

::selection {
    background: rgb(255, 255, 255);
    color: #000000;
}

body{
    background-color: black;
    font-family: sans-serif;
}

*{
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

::-webkit-scrollbar {
    width: 0px;
}

.bios{
    position: absolute;
    left: 64px;
    bottom:  64px;
    font-size: 18px;
    line-height: 28px;
    color: white;
    font-family: sans-serif;
    width: 390px;
    text-wrap: blance;
}

.logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    user-select: none;
    width: 220px;
}

.navLogo{
    width: 36px;
    height: 36px;
    top: 32px;
    left: 32px;
}

.errorBody{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 3vw;
    line-height: 4vw;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.errorCopy{
    width: 100%;
    max-width: 85%;
    text-align: center;
    margin: auto;
}

.bold{
    font-weight: bold;
}

 .eighty-grid {
    width: 80vw;
}

.privacy{
    max-width: 50vw;
    padding: 32px !important;
    padding-top: 132px !important;
    padding-bottom: 132px !important;
    margin: auto;
}

.contactbio{
    width: 100%;
    padding: 32px;
    padding-top: 232px !important;
    margin: auto;
}

label{
    color: gray;
    font-family: sans-serif;
    font-size: 16px;
}

input[type=text], textarea, select{
    width: 100%;
    padding: 16px;
    padding-left: 0;
    margin-top: 16px;
    margin-bottom: 16px;
    border: none;
    border-bottom: 1px solid gray;
    background-color: black;
    color: white;
    font-family: sans-serif;
    outline: none;
    font-size: 16px;
}

input[type=submit]{
    background-color: black;
    color: white;
    background-color: rgb(33, 33, 33);
    padding: 10px;
    border: none;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 100rem;
    font-family: sans-serif;
    cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.articles{
    position: relative;
    top: calc(var(--lg-margin) / -2);
}

.copyBottom{
    position: relative;
    top: -332px;
}

nav{
    display: flex;
    align-content: center;
    justify-content: space-between;
    position: fixed;
    z-index: 22222;
    position: fixed;
    top: 0;
    left: 32px;
    right: 32px;
    box-sizing: border-box;
}

nav .flexBox{
    align-content: center !important;
    
}

nav {
    transition: opacity 0.3s ease-in-out;
    opacity: 1; /* Default state: visible */
}

nav h1{
    color: white;
}

.nav.fade-out {
    opacity: 0; /* Fade out when scrolling */
    pointer-events: none; /* Prevents interactions while faded out */
}

.errorBody{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}

.eighty-grid{
    height: 100%;
    position: fixed;
    overflow-y: auto;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 32px; /* Ensure padding is consistent if needed */
}

.flexBox{
    display: flex;
    gap: 32px;
}

.cols3{
    flex: 1;
    gap: 32px;
    width: calc(100% / 3 - gap);
}

.cols2{
    flex: 1;
    width: calc(100% / 2);
}

.clipping{
    overflow: hidden;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 6px;
}

.clipping img{
    width: 100%;
    scale: 1.1;
    transition: 0.2s ease;
}

.clipping:hover img{
    scale: 1.2;
    transition: 0.2s ease;
}

.tags .flexBox{
    gap: 0;
}

.tag{
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 100rem;
    border: 1px solid white;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    text-transform: uppercase;
}

.contact{
    border-radius: 100rem;
    border: 1px solid white;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    text-transform: uppercase;
}


.titleH1{
    font-size: var(--titleH1);
    line-height: 1.2;
    font-family: sans-serif;
    color: white;
    margin-top: 0;
    margin-bottom: 32px;
}

.titleH2{
    font-size: var(--titleH2);
    line-height: 1.2;
    font-family: sans-serif;
    color: white;
    margin-top: 0;
    margin-bottom: 32px;
    margin-top: 64px;
    font-weight: 200;
}

.bodyH1{
    font-size: var(--bodyH1);
    line-height: 32px;
    font-family: sans-serif;
    color: white;
    margin-top: 0;
    font-weight: 200 !important;
}

.lg-margin{
    height: var(--lg-margin);
}

.md-margin{
    height: var(--md-margin);
}

.sm-margin{
    height: var(--sm-margin);
}

.xsm-margin{
    height: var(--xsm-margin);
}

.articleTitle{
    font-size: var(--titleH2);
    line-height: 32px;
    font-family: sans-serif;
    color: white;
    margin-top: 0;
    margin-bottom: 4px;
}

.articleCopy{
    font-size: var(--titleH3);
    line-height: calc(var(--titleH3)  * 2px);
    font-family: sans-serif;
    color: white;
    margin-top: 0;
    margin-bottom: 32px;
}

.t-cell .flexBox{
        justify-content: space-between;
        padding-top: 12px;
        padding-bottom: 12px;
}

.t-cell .flexBox:hover{
    background-color: white;
    cursor: pointer;
    color: black;
}

.t-cell .flexBox:hover .t-name{
    color: black;
}

.t-cell .t-topics{
    color: gray;
    font-family: sans-serif;
    text-transform: uppercase;
}

.t-cell .t-topics:nth-child(1), .t-cell .t-name:nth-child(1){
    width: 50%;
    box-sizing: border-box;
}

.t-cell .t-topics:nth-child(2), .t-cell .t-name:nth-child(2), .t-cell .t-topics:nth-child(3), .t-cell .t-name:nth-child(3), .t-cell .t-topics:nth-child(4), .t-cell .t-name:nth-child(4){
    width: 100px;
    box-sizing: border-box;
}

.t-cell .t-name{
    color: white;
    font-family: sans-serif;
    font-size: 24px;
}

.key {
    position: fixed;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    width: fit-content;
    height: fit-content;
    z-index: 1000; /* Optional: to ensure it stays above other content */
}

.key h1 {
    transition: color 0.3s, font-weight 0.3s;
    color: #555; /* Default color */
    line-height: 32px;
    font-size: 16px;
}

.key h1.highlighted {
    color: white; /* Highlighted color */
}

.imagewall{
    background-color: gray;
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

footer{
    padding: 32px;
    padding-bottom: 32px;
    color: gray;
    width: 100%;
    font-size: 14px;
}

footer .flexBox{
    justify-content: space-between;
}

.fixed{
    position: fixed;
    bottom: 0;
}